*{margin: 0; padding: 0px;}
/* logo */
.header_menu-logo {
    width: 10%;
}

.header_menu-logo img {
    border-radius: 50%;
    width: 100%;
}

/* menu */
.header_menu-list {
    display: block !important;
    width: 100%;
}

.menu-list_search {
    display: flex !important;
    width: 100%;
}
.menu-list_item_link {
    color: black !important;
    text-decoration: none;
}

/* button menu */
.header_menu-button {
    opacity: 0;
}

i.fa.fa-bars {
    font-size: 30px;
}

/* menu search */
.menu-list_search form {
    width: 88%;
    display: flex;
}

/* menu-cart */
a.menu-list_cart-link {
    color: red;
    font-size: 27px;
}

/* menu item */
.menu-list_item {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 19px;
}

a.nav-link.menu-list_item_link:hover {
    background-color: rgb(233, 215, 193);
    transition: 0.4s ease;
    cursor: pointer;
}

/* slide */

.slide {
    position: relative;
    width: 80vw;
    background: aliceblue;
    height: 35vw;
    margin: auto;
}

.slide-list {
    position: absolute;
    width: 80vw;
    display: flex;
    height: 35vw;
}

.slide-list_item.active img {
    width: 80vw;
    height: 35vw;
}
.slide-list_item {
    opacity: 0;
    display: none;
}

.active {
    opacity: 1;
    display: block;
}

.slide-btn-prev,
.slide-btn-next {
    position: absolute;
    top: 10vw;
    font-size: 100px;
}

.slide-btn-next {
    right: 7vw;
}

.slide-btn-prev {
    left: 7vw;
}

/* .slide-btn_link {
    color: #d0d0d0;
}

.slide-btn_link:hover {
    color: #d0d0d0;
}
 */

 .out-prev{
    animation: out-prev 1s forwards;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
@-webkit-keyframes out-prev{
    from{
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
    to{
        transform: translateX(-80%);
        -webkit-transform: translateX(-80%);
        -moz-transform: translateX(-80%);
        -ms-transform: translateX(-80%);
        -o-transform: translateX(-80%);
}
}

.in-prev{
    animation: in-prev 1s forwards;
    -webkit-animation: in-prev 1s forwards;
}
@-webkit-keyframes in-prev{
    from{
         transform: translateX(80%);
         transition: 0.4s;
         -webkit-transform: translateX(80%);
         -moz-transform: translateX(80%);
         -ms-transform: translateX(80%);
         -o-transform: translateX(80%);
}
    to{
        transform: translateX(0%);
        transition: 0.4s;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
}

/* btn next */
.out-next {
    animation: out-next 1s forwards;
    -webkit-animation: out-next 1s forwards;
}

@-webkit-keyframes out-next {
    from{
        transform: translateX(0%);
        transition: 0.4s;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    to{
        transform: translateX(80%);
        transition: 0.4s;
        -webkit-transform: translateX(80%);
        -moz-transform: translateX(80%);
        -ms-transform: translateX(80%);
        -o-transform: translateX(80%);
}
}

.in-next{
    animation: in-next 1s forwards;
    -webkit-animation: in-next 1s forwards;
}

@-webkit-keyframes in-next {
    from{
        transform: translateX(-80%);
        transition: 0.4s;
        -webkit-transform: translateX(-80%);
        -moz-transform: translateX(-80%);
        -ms-transform: translateX(-80%);
        -o-transform: translateX(-80%);
}
    to{
        transform: translateX(80%);
        transition: 0.4s;
        -webkit-transform: translateX(80%);
        -moz-transform: translateX(80%);
        -ms-transform: translateX(80%);
        -o-transform: translateX(80%);
}
}

/* home.php */
/* content */
.content{
    width: 80%;
}

.products-item_image img{
    width: 100%;
    border: 1px solid #c7bbbb;
}

img.description-img-detail {
    width: 22%;
    border: 1px solid #c7c7c7;
}

.products-item_image img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.show_img .small_img > img{
    height: 100%;
    width: calc(20% - 5px);
    object-fit: cover;
    cursor: pointer;
}

.show_img .small_img:hover > img{
    filter: grayscale();
    -webkit-filter: grayscale();
}

.big_img > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p.description-price {
    color: red;
    font-size: 30px;
    font-family: auto;
}

/* products detail */
.slide.detail {
    display: none;
}

input.nameProduct {
    border: 1px solid white;
    outline: none;
}

p.description-price.detail {
    font-size: 44px;
}

.products-item_image.detail img:hover {
    transform: scale(1);
    transition: 0.4s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.products-item_description.color {
    width: 60%;
}

select.size {
    box-shadow: 3px 0px 10px 1px #e2e2e2;
    border: 1px solid #d4cfcf;
    width: 10%;
    border-radius: 5px;
}

input.quantity.text-center {
    width: 75px !important;
}

.nice-number button {
    width: 31px;
    border: 1px solid;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    background: black;
}

.detail_input {
    /* font-size: 41px; */
    color: red;
    width: 80%;
    outline: none;
    border: 1px solid white;
}

button.btn-warning.buy {
    color: white;
    width: 50%;
    font-size: 35px;
    font-family: auto;
}

