*{margin: 0;padding: 0;}
a.action {
    cursor: pointer;
    color: red;
}
/* login */
.login{
    background-color: aliceblue;
}

.content {
    width: 30%;
    margin: auto;
    background: cadetblue;
}

.content.mt-5.p-3 a {
    text-decoration: none;
    color: white;
}

/* admin */
.header {
    background: #1c4e8c;
    color: white;
}

/* btn logout */
.header a{
    text-decoration: none;
    color: white;
}

.logout{
    font-size: 35px;
}

/* main */
.main {
    display: flex;
}

/* sidebar */
.main-sidebar a {
    color: #bdbaba;
    font-family: auto;
    font-size: 21px;
    text-decoration: none;
}

.products-item {
    opacity: 0;
    display: none;
}

.users-item {
    opacity: 0;
    display: none;
}

li {
    background: #252424;
    padding: 10px;
    cursor: pointer;
    list-style: none;
    border-bottom: 1px solid #565656;
}

.main-sidebar {width: 15%;background: #252424;}

li:hover{
    background: #982410;
    padding-left: 40px;
    transition: 0.4s;
}

.hiden{
    opacity: 1;
    display: none;
}

/* content-main */
.main-upadateSneakers.mt-5 {
    width: 50%;
    margin: auto;
}

.main-createSneakers {
    width: 40%;
    margin: auto;
}

/* list Sneakers */
.main-listSneakers {
    width: 70%;
    margin: auto;
}

table.list {
    font-size: 18px;
    margin: auto;
}

table.list tr td {padding: 10px;}

table.list img {
    /* font-size: 30px; */
    width: 100%;
}

/* search */
.search {
    width: 50%;
    border: 1px solid #91e6ffc9;
    outline: none;
    border-radius: 6px;
}

.search:hover {
    box-shadow: 2px 2px 9px 0px #91fff0e6;
    outline: none;
}

/* pagination */
p.link_page {
    width: 25%;
    border: 1px solid;
    float: right;
    text-align: center;
    display: flex;
}

.pagination{
    /* border-bottom-style: double; */
    padding: 6px;
    margin: 3px;
}

.pagination:hover {
    text-decoration: none;
    transition: 0.4s;
    font-size: 20px;
}

/* orders bill */
input.bill_input {
    border: 0px;
    outline: none;
}

/* detail bill */
p.info_shop img {
    width: 25%;
}

table.list.text-center td {
    text-align: center;
    width: 12%;
}

.detail_bill {
    width: 50%;
    border: 1px solid;
    /* text-align: center; */
}

/* users */
table.table img {
    width: 100%;
}

.content_user {
    width: 50%;
    margin: auto;
}

/* remember account */

.remember-password {
    width: 35%;
    margin: auto;
    border: 1px solid #e8dbdb;
    border-radius: 11px;
    background: whitesmoke;
}

.w3-input {
    margin: 21px;
    outline: none;
}

.content_update {
    width: 50%;
}

i.error {
    color: red;
}
/* category */
.main-createCate.mt-5 {
    width: 50%;
    margin: auto;
}

.createCate {
    background: aliceblue;
    border-radius: 11px;
    border: 1px solid #c1b6b6;
}

th {
    text-align: center;
    padding: 18px;
    background: #66aeec;
}

table tr td {
    text-align: center;
}

/* FOOTER */
.footer-copyright {
    background: black;
    color: white;
}
